@{
    ViewData["Title"] = "Home Page";
}

<div class="bgimg-1">
    <div class="caption">
        <span class="border">LEARN MORE <span class="glyphicon glyphicon-arrow-down"></span></span>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Background</h3>
    <p>Jack Sazerak is a 90s era vertical shooter with a 2018 twist adding an rpg progression based campaign in which you take the role as Jack Sazerak.</p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">FEATURES</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>36 levels of carnage.</p>
    </div>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">FOLLOW THE DEVELOPMENT</span>
    </div>
</div>

<div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <p>TWITTER</p>
    </div>
</div>

<div class="bgimg-1">
    <div class="caption">
        <span class="border">COMING 2018</span>
    </div>
</div>
